[submodule "packages/glm"]
	path = packages/glm
	url = git@github.com:g-truc/glm.git
[submodule "packages/glfw"]
	path = packages/glfw
	url = git@github.com:glfw/glfw.git
[submodule "packages/include/oglwrap"]
	path = packages/include/oglwrap
	url = git@github.com:Tomius/oglwrap.git
