[submodule "packages/glm"]
	path = packages/glm
	url = git@github.com:g-truc/glm.git
[submodule "packages/glfw"]
	path = packages/glfw
	url = git@github.com:glfw/glfw.git
[submodule "packages/include/oglwrap"]
	path = packages/include/oglwrap
	url = git@github.com:Tomius/oglwrap.git
[submodule "packages/apmath"]
	path = packages/apmath
	url = git@github.com:amyinorbit/apmath.git
[submodule "packages/tinyobjloader"]
	path = packages/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
